.radio {
    --cursor: default;
    display: flex;
    align-items: center;
    cursor: var(--cursor);
    gap: var(--spacing-small);

    .icon {
        font-size: 1.2em;
    }

    .input {
        display: none;
    }

    &.active {
        .icon {
            color: var(--color-accent);
        }
    }

    &.disabled {
        opacity: var(--opacity-disabled-element);
    }

    &:not(.disabled) {
        &:hover {
            background-color: var(--color-background-hover-light);
        }

        &:not(.read-only) {
            --cursor: pointer;
        }
    }
}
