.page {
    .header-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        background-color: '#000836';
        background-position: top center;
        background-size: cover;
        min-height: 33rem;

        .header-container {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-large);
            width: 100%;
            max-width: var(--width-page-content-max);
            gap: var(--spacing-large);

            .header {
                display: flex;
                max-width: 36rem;

                .heading {
                    color: var(--color-text-on-dark);
                    font-size: var(--font-size-mega-large);
                }

                .heading-container {
                    color: var(--color-text-on-dark);
                    font-size: var(--font-size-large);
                }
            }

            .stats {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-large);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 10rem;

                    @media (max-width: 50rem) {
                        min-width: 100%;
                    }
                }

                .image {
                    height: var(--icon-height);
                    object-fit: contain;
                }
            }
        }
    }

    .main-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-extra-large);
            padding: var(--spacing-large);
            width: 100%;
            max-width: var(--width-page-content-max);

            .info {
                display: flex;
                align-items: center;
                background-color: var(--color-background-primary-hint);
                padding: var(--spacing-medium);
                color: var(--color-primary);
                font-weight: var(--font-weight-bold);
                gap: var(--spacing-medium);

                .icon {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
