.raw-input {
    margin: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
