.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);

    .heading-container {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        padding: var(--spacing-large);
        width: 100%;
        max-width: var(--width-page-content-max);
        gap: var(--spacing-large);

        .heading {
            flex-grow: 1;
            margin: 0;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: var(--spacing-medium);
            flex-shrink: 0;
        }
    }

    .container {
        display: flex;
        flex-grow: 1;
        width: 100%;
        max-width: var(--width-page-content-max);
        overflow: auto;
        gap: var(--spacing-large);

        .sidebar {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--spacing-large);
            gap: var(--spacing-large);
            width: 12rem;

            .filters {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-large);
            }
        }

        .project-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 var(--spacing-large) var(--spacing-large);
            gap: var(--spacing-medium);
        }
    }

    .loading {
        border-radius: var(--radius-card-border);
        box-shadow: var(--shadow-card);
        background-color: var(--color-foreground);
        padding: var(--spacing-extra-large);
    }

    .empty-message {
        border-radius: var(--radius-card-border);
        box-shadow: var(--shadow-card);
        background-color: var(--color-foreground);
        padding: var(--spacing-extra-large);
    }
}
