version: '3'
networks:
    mapswipe_network:
        driver: bridge
        ipam:
            config: [{subnet: 172.21.0.0/16}]
    api:
    manager_dashboard:
    mapswipe_workers:
    postgres:

services:
    manager_dashboard:
        container_name: manager_dashboard
        build:
            context: manager_dashboard/
        restart: unless-stopped
        ports:
            - '5000:80'
        expose:
            - "80"
        volumes:
            - ./manager_dashboard/manager_dashboard:/usr/share/nginx/html/manager_dashboard
        networks:
            - manager_dashboard

    postgres:
        container_name: postgres
        build:
            context: postgres/
            dockerfile: Dockerfile-dev
        environment:
            POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
            POSTGRES_USER: '${POSTGRES_USER}'
            POSTGRES_DB: '${POSTGRES_DB}'
            PGDATA: '/var/lib/postgresql/mapswipe'
        command: postgres
        volumes:
          - ./postgres-data:/var/lib/postgresql/mapswipe
        restart: unless-stopped
        ports:
          - "5431:5432"
        networks:
            - postgres