.footprint-geo-json-preview {
    .map-preview {
        position: relative;
        z-index: 0;
        height: var(--height-mobile-preview);
    }

    .options {
        display: flex;
        justify-content: center;
        padding: var(--spacing-large);
        gap: var(--spacing-large);

        .option {
            display: flex;
            align-items: center;
            border-radius: 50%;
            padding: var(--spacing-small);
            font-size: var(--font-size-extra-large);
        }
    }
}
