.sub-option-content {
    display: flex;
    gap: var(--spacing-medium);

    .sub-option-input {
        flex-grow: 1;
    }
    .remove-button {
        width: fit-content;
        height: fit-content;
    }
}