.page-content {
    display: flex;
    gap: var(--dui-spacing-extra-large);

    .main-content {
        flex-grow: 1;
    }

    .right-side-content {
        flex-basis: calc(200px + 10vw);
        flex-grow: 0;
        flex-shrink: 0;
    }
}
