.button {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    border: var(--width-separator-thin) solid rgba(0, 0, 0, 0.3);
    border-radius: var(--radius-button-border);
    padding: var(--spacing-extra-small) var(--spacing-extra-large);
    color: rgba(0, 0, 0, 0.8);

    .icons,
    .actions {
        display: flex;
        font-size: 1.2em;
    }

    &.action {
        border: none;
        padding: 0;
        font-size: var(--font-size-medium);
    }

    &.disabled {
        opacity: 0.5;
    }
}
