.stats-board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-extra-large);

    .heading-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

        .hint {
            text-align: right;
        }
    }

    .resolution-input {
        padding: 0;
    }

    .board {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-extra-large);

        .time-spent-chart-container {
            position: relative;
            height: 20rem;

            .empty {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: center;
                justify-content: center;
                opacity: 0.5;
                z-index: 1;
                background-color: var(--color-foreground);
                padding: var(--spacing-large);
                width: 100%;
                height: 100%;
                font-size: var(--font-size-large);
            }
        }

        .stats-card-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 12rem;

                @media (max-width: 48rem) {
                    min-width: 100%;
                }
            }
        }

        .overall-stats-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 20rem;

                @media (max-width: 48rem) {
                    min-width: 100%;
                }
            }
        }

        .other-stats-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 20rem;

                @media (max-width: 56rem) {
                    min-width: 100%;
                }
            }

            .pie-chart-container {
                display: flex;
                height: 20rem;

                :global {
                    .recharts-legend-wrapper {
                        width: 30%!important;
                        max-width: 12rem;
                    }

                    .recharts-default-legend {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: var(--spacing-medium);

                        .recharts-legend-item {
                            display: flex!important;
                            align-items: center;
                            gap: var(--spacing-small);
                        }
                    }

                    .recharts-legend-item-text {
                        color: var(--color-text)!important;
                    }

                    .recharts-surface {
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    .number-output {
        display: flex;
        gap: var(--spacing-small);
    }

    .area-output {
        display: flex;
        gap: var(--spacing-small);
        justify-content: flex-end;
        color: var(--color-text-light);
        font-size: var(--font-size-small);
    }

    .info-label {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-small);
        line-height: 1;

        small {
            color: var(--color-text-watermark);
        }
    }
}
