.header {
    --spacing: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .heading-section {
        display: flex;
        align-items: flex-start;
        overflow: auto;

        .heading-container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;
            overflow: auto;
            gap: var(--spacing);

            &.inline-description {
                align-items: center;
                flex-direction: row;
            }

            .heading {
                min-width: 3rem;
            }

            .description {
                &.uppercase {
                    text-transform: uppercase;
                }
            }
        }
    }
}
