.information-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    .preview-screen {
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary);
        width: 20rem;
        height: 30rem;
        overflow: auto;

        .preview-content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);
            padding: var(--spacing-large);
            color: #ffffff;
        }
    }
}