.information-preview {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    background-color: var(--color-primary);
    padding: var(--spacing-large);
    width: var(--width-mobile-preview);
    height: var(--height-mobile-preview);
    overflow: auto;
    color: var(--color-text-on-dark);

    .image-preview {
        height: 10rem;
    }
}
