.information-preview {
    .content {
        display: flex;
        gap: var(--spacing-large);
        flex-direction: column;
        padding: var(--spacing-large);
    }
    background-color: var(--color-primary);
    width: var(--width-mobile-preview);
    height: var(--height-mobile-preview);
    overflow: auto;
    color: var(--color-text-on-dark);

    .image-preview {
        height: 10rem;
    }
}
