.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-medium);

    .header-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        justify-content: flex-end;
        background-size: cover;
        padding: var(--spacing-mega-large) var(--spacing-ultra-large) var(--spacing-large) var(--spacing-ultra-large);

        .header {
            display: flex;
            max-width: 700px;

            .heading {
                text-transform: capitalize;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-mega-large);
            }

            .description {
                text-transform: capitalize;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-extra-large);
            }
        }

        .stats {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-large);

            .value {
                display: flex;
            }
        }
    }

    .content {
        flex-grow: 1;
        padding: var(--spacing-medium) var(--spacing-ultra-large);

        .chart-container {
            display: flex;
            flex-grow: 1;
            margin-bottom: var(--spacing-extra-large);

            .heat-map-legend {
                display: flex;
                gap: 0.7rem;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .groups {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-large);
            padding: var(--spacing-medium);

            .groups-heading {
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-bold);
            }

            .groups-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-large);

                .group {
                    flex-basis: 30%;
                }
            }
        }
    }

    @media(max-width: 900px) {
        .header-container {
            padding: var(--spacing-mega-large) var(--spacing-mega-large) var(--spacing-large) var(--spacing-mega-large);
        }

        .content {
            padding: 0rem var(--spacing-mega-large);
        }
    }

    @media(max-width: 700px) {
        .header-container {
            padding: var(--spacing-super-large) var(--spacing-super-large) var(--spacing-large) var(--spacing-super-large);
        }

        .content {
            padding: 0rem var(--spacing-large);
        }
    }

    @media(max-width: 700px) {
        .header-container {
            padding: var(--spacing-large);
        }

        .content {
            padding: 0rem var(--spacing-large);
        }
    }
}
