.input-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .header {
        padding: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        border-radius: var(--radius-card);
        padding: var(--spacing-large);
        gap: var(--spacing-extra-large);
    }
}
