.information-container {
    display: flex;
    gap: var(--spacing-extra-large);

    .informationForm {
        display: flex;
        flex-basis: 60%;
        flex-direction: column;
        gap: var(--spacing-medium);
        
        .remove-button {
            align-self: end;
            width: fit-content;
        }
    }
}