.groups {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .groups-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);

        .group {
            flex-basis: calc(100% / 3 - 2 * var(--spacing-medium));
            flex-grow: 1;
            min-width: 18rem;

            .link {
                color: var(--color-primary);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}
