.option {
    display: flex;
    align-items: center;
    overflow: auto;

    .icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        opacity: 0;
        padding: 0 var(--spacing-small);
    }

    .label {
        flex-grow: 1;
        padding: 0 var(--spacing-small);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.active {
        color: var(--color-accent);

        .icon {
            opacity: 1;
        }
    }
}
