.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-large);

    .header-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);
        justify-content: flex-end;
        background-size: cover;
        padding: var(--spacing-mega-large) var(--spacing-ultra-large) var(--spacing-extra-large) var(--spacing-ultra-large);

        .header {
            display: flex;
            max-width: 700px;

            .heading {
                padding-bottom: var(--spacing-medium);
                text-transform: capitalize;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-mega-large);

            }
            .description {
                text-transform: capitalize;
                color: var(--color-text-on-dark);
                font-size: var(--font-size-large);
            }
        }

        .stats {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-extra-large);

            .image {
                object-fit: contain;
                height: var(--icon-height);
            }

            .value {
                display: flex;
            }
        }
    }

    .content {
        flex-grow: 1;
        padding: var(--spacing-extra-large) var(--spacing-ultra-large);
    }

    @media(max-width: 900px) {
        .header-container {
            padding: var(--spacing-mega-large) var(--spacing-mega-large) var(--spacing-extra-large) var(--spacing-mega-large);
        }

        .content {
            padding: 0 var(--spacing-mega-large);
        }
    }

    @media(max-width: 700px) {
        .header-container {
            padding: var(--spacing-super-large) var(--spacing-super-large) var(--spacing-extra-large) var(--spacing-super-large);
        }

        .content {
            padding: 0 var(--spacing-extra-large);
        }
    }

    @media(max-width: 700px) {
        .header-container {
            padding: var(--spacing-extra-large);
        }

        .content {
            padding: 0 var(--spacing-extra-large);
        }
    }
}
