.pending-message {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, .95);
    width: 100vw;
    height: 100vh;
    color: var(--color-text);
    font-size: var(--font-size-large);
    gap: var(--spacing-large);

    .icon {
        animation: rotate 1.6s linear infinite;
        font-size: 1.2em;
    }
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
