.stats-board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-medium);

    .board {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--spacing-large);

        .time-spent-chart-container {
            height: 20rem;
        }

        .stats-card-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 20rem;
            }
        }

        .other-stats-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-medium);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 30rem;

                @media (max-width: 40rem) {
                    min-width: 100%;
                }
            }

            .pie-chart-container {
                height: 20rem;

                :global {
                    .recharts-default-legend {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: var(--spacing-medium);

                        .recharts-legend-item {
                            display: flex!important;
                            align-items: center;
                            gap: var(--spacing-small);
                        }
                    }

                    .recharts-legend-item-text {
                        color: var(--color-text)!important;
                    }
                }
            }
        }
    }

    .number-output {
        display: flex;
        gap: var(--spacing-small);
    }
}
