.segment-input {
    .segment-container {
        display: flex;

        .segment {
            display: flex;
            align-items: center;
            border: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-large);

            &.active {
                background-color: var(--color-accent);
                color: var(--color-text-on-light);
            }

            &:first-child {
                border-top-left-radius: var(--radius-button-border);
                border-bottom-left-radius: var(--radius-button-border);
            }

            &:last-child {
                border-top-right-radius: var(--radius-button-border);
                border-bottom-right-radius: var(--radius-button-border);
            }
        }
    }
}
