.table {
    /* NOTE: This will ensure that the z-index in
     * children elements doesn't affect rest of the page */
    position: relative;
    z-index: 0;
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
    font-size: inherit;

    .header-row {
        .header-cell {
            padding: var(--spacing-medium);
            text-align: left;
        }
    }

    .row {
        .cell {
            border-top: 1px solid rgba(0, 0, 0, .1);
            padding: var(--spacing-medium);
            overflow: hidden;
        }
    }
}
