.calendar {
    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;

        .info {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .current-year {
                flex-basis: 40%;
                padding: var(--spacing-small);
            }

            .current-month {
                flex-basis: 60%;
                padding: var(--spacing-small);
            }
        }

        .week-days {
            display: flex;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .week-day-name {
                display: flex;
                align-items: center;
                flex-basis: calc(100% / 7);
                flex-shrink: 0;
                justify-content: center;
                padding: var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .day-list {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) var(--spacing-medium);

        .day-container {
            --width: calc(100% / 7);
            display: flex;
            align-items: center;
            flex-basis: var(--width);
            justify-content: center;
            width: var(--width);
        }
    }

    .empty-day-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: var(--spacing-large);
        text-align: center;
        color: var(--color-text-message);

        .icon {
            opacity: 0.3;
            margin: var(--spacing-medium);
            font-size: var(--font-size-ultra-large);
        }
    }

    .actions {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        >* {
            margin: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));
        }
    }
}

.month-selection-popup {
    min-width: 10rem;

    .popup-content {
        width: 100%!important;
    }
}

.dummy-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width-calendar-date);
    height: var(--width-calendar-date);
    color: var(--color-text-disabled-light);
}

