.new-project {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    padding: var(--spacing-large);
    overflow: auto;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 70rem;
        gap: var(--spacing-large);

        .custom-option-container {
            display: flex;
            gap: var(--spacing-large);

            .custom-option-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--spacing-medium);
            }
        }

        .input-group {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-extra-large);

            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 20rem;
            }
        }

        .vertical-input-group {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-extra-large);
        }

        .test-container {
            display: flex;
            align-items: center;
            align-self: stretch;
            gap: var(--spacing-medium);

            .test-success-message {
                flex-grow: 1;

                .tmid-description,
                .geometry-description {
                    color: var(--color-success);
                }
            }

            .test-button {
                flex-shrink: 0;
            }
        }
    }

    .error-message {
        text-align: center;
        color: var(--color-danger);
    }

    .actions {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
    }

    .warning-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-small);

        .warning-item {
            display: flex;
            gap: var(--spacing-small);
            align-items: flex-start;
        }
    }
}

.submission-status-modal {
    padding: var(--spacing-large);
    width: calc(100% - 2 * var(--spacing-large));
    max-width: 30rem;
    height: calc(100% - 2 * var(--spacing-large));
    max-height: 30rem;
    color: var(--color-text);

    .body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-large);

        .swipe-icon {
            color: var(--color-text-light);
            font-size: 10rem;
        }

        .success-icon {
            color: var(--color-success);
            font-size: 10rem;
        }

        .failure-icon {
            color: var(--color-danger);
            font-size: 10rem;
        }

        .message {
            font-size: var(--font-size-medium);
        }

        .post-submission-message {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: center;
            font-size: var(--font-size-medium);
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}
