.tutorial-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    .list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-small);
    }

    .empty-list {
        padding: var(--spacing-medium);
        color: var(--color-text-watermark);
    }

    .tutorial {
        padding: var(--spacing-medium);

        .heading {
            display: flex;
            align-items: center;
            gap: var(--spacing-medium);

            .icon {
                flex-shrink: 0;
            }

            .name {
                font-weight: var(--font-weight-bold);
            }
        }

        .look-for {
            color: var(--color-text-light);
        }
    }

    .tutorial-count {
        font-weight: var(--font-weight-bold);
    }

    .footer-actions {
        display: flex;
        align-items: center;
        gap: var(--spacing-large);
        justify-content: flex-end;
    }
}
