.expandable-container {
    border-radius: var(--radius-card-border);
    color: inherit;

    .header-container {
        display: flex;
        border: var(--width-separator-thin) solid var(--color-separator);
        border-top-left-radius: var(--radius-card-border);
        border-top-right-radius: var(--radius-card-border);
        background-color: var(--color-background-accent-hint);
        padding: var(--spacing-medium);

        .header {
            flex-grow: 1;
            font-size: var(--font-size-large);
        }

        .icons {
            display: flex;
            gap: var(--spacing-medium);
            flex-shrink: 0;

            >* {
                font-size: var(--font-size-large);
            }
        }

        .actions {
            display: flex;
            gap: var(--spacing-medium);
            flex-shrink: 0;

            >* {
                font-size: var(--font-size-large);
            }
        }
    }

    .children {
        border: var(--width-separator-thin) solid var(--color-separator);
        border-top: 0;
        border-bottom-left-radius: var(--radius-card-border);
        border-bottom-right-radius: var(--radius-card-border);
        padding: var(--spacing-medium);
    }

    &:not(.expanded) {
        .header-container {
            border-bottom-left-radius: var(--radius-card-border);
            border-bottom-right-radius: var(--radius-card-border);
        }
    }
}
