.user-groups {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);

    .heading-container {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        padding: var(--spacing-large);
        width: 100%;
        max-width: var(--width-page-content-max);
        gap: var(--spacing-large);

        .heading {
            flex-grow: 1;
            margin: 0;
        }

        .actions {
            flex-shrink: 0;
        }
    }

    .container {
        display: flex;
        flex-grow: 1;
        width: 100%;
        max-width: var(--width-page-content-max);
        overflow: auto;
        gap: var(--spacing-large);

        .user-group-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 var(--spacing-large);
            gap: var(--spacing-medium);
        }
    }

    .loading {
        background-color: var(--color-foreground);
        padding: var(--spacing-extra-large);
    }

    .empty-message {
        background-color: var(--color-foreground);
        padding: var(--spacing-extra-large);
    }
}
