.raw-button {
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
