.tab {
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom-color: transparent;
    background-color: var(--color-foreground);
    padding: var(--spacing-small);
    text-align: left;

    &.active {
        background-color: var(--color-background-accent-hint);
    }
}

.tab-list {
    display: flex;
    gap: var(--spacing-small);
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
}
