.change-detection-geo-json-preview {
    .content {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-medium);
        gap: var(--spacing-extra-large);

        .map-preview {
            height: 16rem;
        }
    }
}
