.change-detection-geo-json-preview {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-extra-large);

        .map-preview {
            align-self: center;
            width: var(--height-mobile-preview-change-detection-content);
            height: var(--height-mobile-preview-change-detection-content);
        }
    }

    .popup {
        top: 50%!important;
        transform: translateY(-50%);
    }
}
