.information-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-card-border);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);

    .headingContainer {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);

        .heading {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            justify-content: space-between;
            color: var(--color-text);
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-bold);

            .icon {
                height: var(--icon-height);
            }
        }

        .sub-heading {
            color: var(--color-text-dark);
            font-size: var(--font-size-medium);
        }

    }
    .value {
        display: flex;
        color: var(--color-primary);
        font-size: var(--font-size-super-large);
        font-weight: var(--font-weight-bold);
    }

    .description {
        padding-top: var(--spacing-large);
        color: var(--color-accent);
        font-weight: var(--font-weight-medium);
    }

    .stat-heading {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        color: var(--color-text);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        gap: var(--spacing-large);

        .icons {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .icon {
                flex-grow: 1;
            }

            .sub-heading {
                color: var(--color-text-dark);
                font-size: var(--font-size-large);
            }
        }
    }
}
