Host mapswipe-production
    User mapswipe
    HostName 35.231.228.82
    IdentitiesOnly yes
    IdentityFile $HOME/.ssh/private-key
Host mapswipe-development
    User mapswipe
    HostName 35.190.148.87
    IdentitiesOnly yes
    IdentityFile $HOME/.ssh/private-key
