.smart-nav-link {
    display: flex;
    position: relative;
    align-items: center;
    outline: none;
    padding: var(--spacing-small) var(--spacing-medium);
    text-decoration: none;
    color: var(--color-text);
    font-weight: var(--font-weight-bold);

    &.active {
        color: var(--color-accent);
    }

    &:hover {
        background-color: var(--color-hover-background);
    }
}
