.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);

    .heading-container {
        flex-shrink: 0;
        width: 100%;
        max-width: 70rem;

        .heading {
            margin: 0;
            padding: var(--spacing-large) var(--spacing-medium);
        }
    }

    .container {
        display: flex;
        flex-grow: 1;
        width: 100%;
        max-width: 70rem;
        overflow: auto;
        gap: var(--spacing-large);

        .filters {
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--spacing-medium);
            width: 12rem;
        }

        .project-list {
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow: auto;
        }
    }

    .loading {
        padding: var(--spacing-medium);
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);
    }

}
