.member {
    display: flex;
    flex-grow: 1;
    gap: var(--spacing-medium);
    border-top: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium);

    .member-name {
        flex-basis: 20%;
        flex-grow: 1;
        color: var(--color-primary);

        .link {
            cursor: pointer;
            color: var(--color-primary);
            font-weight: var(--font-weight-bold);
        }

        .inactive {
            color: var(--color-text-watermark);
            font-size: var(--font-size-small);
        }
    }
    .item {
        flex-basis: 20%;
        flex-grow: 1;
    }
}
