.navbar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-ultra-large) var(--spacing-small) var(--spacing-ultra-large);
    color: var(--color-text);
    gap: var(--spacing-medium);

    .app-brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-small);

        .logo {
            height: var(--icon-height);
        }

        .title {
            color: var(--color-primary);
            font-size: var(--font-size-extra-large);
            font-weight: var(--font-weight-bold);

            .italic {
                font-weight: var(--font-weight-medium);
                font-style: italic;
            }
        }
    }

    .main {
        display: flex;
        align-self: stretch;
        flex-grow: 1;
        overflow: auto;

        .nav-links {
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            font-size: var(--font-size-extra-large);
            gap: var(--spacing-small);

            .link {
                padding: var(--spacing-small);
            }
        }

        .filter {
            display: flex;
            align-self: flex-end;
            gap: var(--spacing-small);
        }
    }
}
@media(max-width: 900px) {
    .navbar {
        padding: var(--spacing-small) var(--spacing-mega-large) var(--spacing-small) var(--spacing-mega-large);
    }
}

@media(max-width: 700px) {
    .navbar {
        padding: var(--spacing-small) var(--spacing-super-large) var(--spacing-small) var(--spacing-super-large);
    }
}

@media(max-width: 700px) {
    .navbar {
        padding: var(--spacing-small);
    }
}
