.animated-swipe-icon {
    animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotateY(30deg) rotate(-10deg) translateX(-50px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
