.organisation-form-modal {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
    width: calc(100% - var(--spacing-large));
    max-width: 40rem;
    height: calc(100% - var(--spacing-large));
    max-height: 30rem;
    gap: var(--spacing-extra-large);

    .body {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .submit-button {
            flex-shrink: 0;
        }
    }

    .non-field-error,
    .error-message {
        color: var(--color-danger);
    }

    .status {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        gap: var(--spacing-large);

        .swipe-icon {
            color: var(--color-text-light);
            font-size: 10rem;
        }

        .success-icon {
            color: var(--color-success);
            font-size: 10rem;
        }

        .failure-icon {
            color: var(--color-danger);
            font-size: 10rem;
        }

        .post-submission-message,
        .message {
            text-align: center;
            font-size: var(--font-size-medium);
        }
    }
}
