.organisation-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium) 0;

    .list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-small);
    }

    .empty-list {
        padding: var(--spacing-medium);
        color: var(--color-text-watermark);
    }

    .organisation {
        transition: var(--duration-transition-medium) background-color ease-in-out;
        padding: var(--spacing-medium);

        .heading {
            display: flex;
            align-items: center;
            gap: var(--spacing-medium);

            .icon {
                flex-shrink: 0;
            }

            .name {
                flex-grow: 1;
                font-weight: var(--font-weight-bold);
            }

            .remove-button {
                flex-shrink: 0;
                transition: var(--duration-transition-medium) opacity ease-in-out;
                opacity: 0;
                color: var(--color-danger);
            }
        }

        .description {
            color: var(--color-text-light);
        }

        &:hover {
            background-color: var(--color-background-accent-hint);

            .heading {
                .remove-button {
                    opacity: 1;
                }
            }
        }
    }

    .footer-actions {
        display: flex;
        justify-content: flex-end;
    }
}

.remove-confirmation {
    padding: var(--spacing-large);

    .confirmation-actions {
        display: flex;
        gap: var(--spacing-large);
        justify-content: flex-end;
    }
}
