.option-preview {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: var(--spacing-large);
    gap: var(--spacing-large);
    width: var(--width-mobile-preview);
    height: var(--height-mobile-preview);

    .preview-content {
        display: flex;
        align-items: center;
        gap: var(--spacing-medium);
        color: var(--color-text-on-dark);

        .preview-icon {
            display: flex;
            align-items: center;
            border-radius: 50%;
            padding: 3px;
            font-size: 30px;
        }

        .preview-text {
            font-size: var(--font-size-small);
        }
    }
}
