.project-details {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);
    padding: var(--spacing-extra-large);
    gap: var(--spacing-medium);

    .pending-message {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--color-backdrop-light);
        padding: var(--spacing-medium);
        width: 100%;
        height: 100%;
    }

    .header {
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-small);

        .heading {
            flex-grow: 1;
            margin : 0;
            color: var(--color-text-dark);
            font-size: var(--font-size-large);
        }

        .progress-bar {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            gap: var(--spacing-medium);

            .track {
                position: relative;
                border-radius: 0.3rem;
                background-color: rgba(0, 0, 0, .2);
                width: 10rem;
                height: 0.6rem;

                .progress-amount {
                    position: absolute;
                    left: 0;
                    border-radius: 0.3rem;
                    background-color: var(--color-primary);
                    height: 100%;
                }
            }
        }
    }

    .text-output {
        display: flex;
        gap: var(--spacing-medium);

        .label {
            color: var(--color-text-light);
        }

        .value {
            color: var(--color-text-dark);
        }
    }

    .description {
        color: var(--color-text-light);
    }

    .actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--spacing-large);

        .db-actions {
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: var(--spacing-large);
        }

        .details-toggle-button {
            flex-shrink: 0;
        }
    }
}

.status-confirmation-modal {
    padding: var(--spacing-large);

    .confirmation-actions {
        display: flex;
        gap: var(--spacing-large);
        justify-content: flex-end;
    }
}
