.pending-message {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);

    .icon {
        animation: rotate 1s linear infinite;
        font-size: 1.2em;
    }
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
