black==19.10b0
click==7.0
firebase-admin==3.2.1
flake8==3.7.9
mapswipe-workers==3.0
pandas==0.25.3
pre-commit==1.21.0
psycopg2-binary==2.8.4
python-dateutil==2.8.1
schedule==0.6.0
sentry-sdk==0.14.0
slackclient==2.5.0
